<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
    <title>Index Page</title>
  </head>
  <body>
    <h1>Welcome to multiplayer chess online</h1>
  </body>
</html>
