<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
    <title>Index Page</title>
  </head>
  <body>
    <% if (typeof msg != 'undefined') { %>
      <h2 class="error"><%=msg%></h2>
    <% } %>
    <h1 class="welcome">Welcome</h1>
    <h2 class="welcome">Create a new game</h2>
    <form class="welcome" action="/game" method="post">
      Enter a unique code for the game:<br>
      <input type="text" name="game_code"><br>
      <input type="submit" value="Create">
    </form>
    <h2 class="welcome">Join a game</h2>
    <form class="welcome" action="/game" method="get">
      Enter the game's unique code:<br>
      <input type="text" name="game_code"><br>
      <input type="submit" value="Join">
    </form>
  </body>
</html>
